.life-at-ettiksoft-container {
    .lae-banner {
        position: relative;
        img {
            height: 80vh;
            width: 100%;
        }
        .banner-context  {
            position: absolute;
            width: 300px;
            bottom: 50px;
            left: 50px;
            background-color: black;
            border-radius: 15px;
        }
    }
    .dynamic-work-environment {
        width: 75%;
        margin: 0 auto;
        .dye-images {
            gap: 1rem;
            flex-wrap: wrap;
            img {
                height: 500px;
                border-radius: 15px;
            }
        }
    }
    .lae-review {
        // height: 750px;
        .lea-review-card {
            background-color: black;
            // height: 600px;
            border-radius: 25px;
            width: 80%;
            gap: 1rem;
            justify-content: space-around;
            img {
                border-radius: 25px;
                height: 550px;
            }
            .lea-review-card-content {
                width:65%;
            }
        }
    }
    .section-four-images {
        flex-wrap: wrap;
        justify-content: center;
        img {
            height: 670px;
            // border-radius: 25px;
        }
    }
    .our-initiatives-container {
        .our-initiatives-cards {
            gap: 1rem;
            flex-wrap: wrap;
            .initiatives-card {
                width: 350px;
                height: 500px;
                border-radius: 20px;
                align-items: center;
                gap: 2rem;
                img {
                    border-radius: 20px;
                }
                .initiatives-card-content {
                    gap: 2rem;
                }
            }
        }
    }
    
}
//------------------------------------------------------------------------------------------------------------
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 420px and less)
@media (max-width: 420px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }
@media (max-width: 576px) { 
    .life-at-ettiksoft-container {
        .lae-banner {

            .banner-context  {
                display: none;
            }}}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

@media (max-width: 768px) {
    .life-at-ettiksoft-container {
        .lae-banner {
            img {
                height: 50vh;
            }}
        .lae-review {
            
            .lea-review-card {
                flex-wrap: wrap;

                .lea-review-card-content {
                    width: 100%;
                }
               
            }
            
        }
        .section-four-images { 
            gap: 1rem;
            padding: 20px;
            img {
                border-radius: 25px;
            }
        }
        
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }
@media (max-width: 992px) { 
    
}


// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }