.dropdown-line {
 display: block;
  width: 100%;
  height: 1px;
  margin: 0px 20px 0px 20px;
  background-color: #000; /* Black line */
}
.full-width {
  width: 100vw; /* Full width of viewport */
}


.card-hover:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}


//------------------------------------------------------------------------------------------------------------
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 420px and less)
@media (max-width: 420px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }